PUBLIC_SERVER_URL=https://example.com # The domain name for the application. Used as vite base path and in the backend CORS configuration. Needs to include the port if not 80 or 443.
PORT=80 # The port on which the server will listen.

WEBHOOK_SECRET=your_secret_key # A secret key for the webhook to verify requests. Change this to a secure random string.
