@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-*: initial;
  --color-transparent: transparent;
  --color-current: currentColor;

  --color-black: #000000;
  --color-white: #ffffff;

  --color-red: #ef4337;
  --color-red-lighter: #f54c42;

  --opacity-muted: 50%;

  --font-title: "Special Elite", sans-serif;
  --font-body: "Nokora", sans-serif;
}

/* @utility focusring {
  @apply focus:outline-hidden focus-visible:ring-primary focus-visible:ring-4;
}

@utility peer-focusring {
  @apply peer-focus:outline-hidden peer-focus-visible:ring-primary peer-focus-visible:ring-4;
}

@utility no-spinner {
  @apply [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none;
} */

@utility padded-container {
  @apply container mx-auto px-4;
}

@utility bg-blob {
  @apply before:content-[''] before:absolute before:left-0 before:top-0 before:size-full before:bg-black before:blur-lg;
}

@utility link-hover {
  @apply hover:text-red-lighter transition-colors;
}

@utility ui-button {
  @apply px-4 py-2 bg-red hover:bg-red-lighter cursor-pointer transition-colors;
}

@utility ui-input {
  @apply py-1 border-b-2 border-b-white/50;
}

@layer base {
  /* preload background images */
  body::after {
    @apply absolute size-0 overflow-hidden -z-50;
    content: url(/images/members/amon.jpg) url(/images/members/bjoern.jpg) url(/images/members/goody.jpg) url(/images/members/lukas.jpg) url(/images/members/nico.jpg);
  }

  html, body {
    @apply text-white scroll-smooth font-body text-justify select-none;
  }

  h1, h2, h3, h4, h5 {
    @apply truncate;
  }

  h1 {
    @apply text-4xl font-title;
  }

  h2 {
    @apply text-2xl font-title;
  }

  h3 {
    @apply text-xl font-title;
  }

  h4 {
    @apply text-lg font-title;
  }

  h5 {
    @apply text-base font-title;
  }

  a {
    @apply cursor-pointer;
  }

  a:not(.link-plain) {
    @apply text-red-lighter;
  }

  i {
    @apply italic;
  }

  strong {
    @apply font-bold;
  }
}
