@import url("https://fonts.googleapis.com/css2?family=Nokora:wght@100..900&family=Special+Elite&display=swap") layer(base);

@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-*: initial;
  --color-transparent: transparent;
  --color-current: currentColor;

  --color-black: #000000;
  --color-white: #ffffff;

  --color-red: #ef4337;
  --color-red-lighter: #f54c42;

  --opacity-muted: 50%;

  --font-title: "Special Elite", sans-serif;
  --font-body: "Nokora", sans-serif;
}

/* @utility focusring {
  @apply focus:outline-hidden focus-visible:ring-primary focus-visible:ring-4;
}

@utility peer-focusring {
  @apply peer-focus:outline-hidden peer-focus-visible:ring-primary peer-focus-visible:ring-4;
}

@utility no-spinner {
  @apply [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none;
} */

@utility padded-container {
  @apply container mx-auto px-4 overflow-x-hidden;
}

@layer base {
  html, body {
    @apply bg-black text-white scroll-smooth font-body text-justify select-none;
  }

  h1, h2, h3, h4, h5 {
    @apply truncate;
  }

  h1 {
    @apply text-6xl font-title;
  }

  h2 {
    @apply text-4xl font-title;
  }

  h3 {
    @apply text-2xl font-title;
  }

  h4 {
    @apply text-xl font-title;
  }

  h5 {
    @apply text-lg font-title;
  }

  a {
    @apply cursor-pointer;
  }

  a:not(.plain-link) {
    @apply text-red-lighter;
  }

  i {
    @apply italic;
  }

  strong {
    @apply font-bold;
  }
}
